<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
  </configSections>

  <htb.devfx>
    <remoting>
      <services>
        <add name="classService.rem" type="ClassLibrary1.IClassService, ClassLibrary1" serviceType="RemotingServer.ClassServiceInternal, RemotingServer" />
        <!--name为发布地址，需以.rem为后缀，type为契约接口定义，serviceType为服务实现-->
      </services>
    </remoting>
  </htb.devfx>

  <system.runtime.remoting>
    <!--标准的Remoting配置，主要是配置一些使用的通讯协议等-->
    <application>
      <channels>
        <channel
				   ref="http"
				   port="8086" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>