<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
	</configSections>

	<htb.devfx>
		<remoting>
			<services>
				<add name="classService.svc" type=":wcf" serviceType="ConsoleApplication3.ClassServiceInternal, ConsoleApplication3" />
			</services>
		</remoting>
	</htb.devfx>

	<system.serviceModel>
		<services>
			<service name="ConsoleApplication3.ClassServiceInternal">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/WcfSamples/" />
					</baseAddresses>
				</host>
				<endpoint address="classService.svc" binding="basicHttpBinding" contract="ClassLibrary2.IClassService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>
