<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
	</configSections>

	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="InitClass" type="TestProject1.InitClass, TestProject1"
				setting="{name:'../../initclass', type:'TestProject1.InitClassSetting, TestProject1'}">
				<lifetime type="Singleton" />
			</object>
			<object name="InitClass1" type="TestProject1.InitClass1, TestProject1"
				setting="{name:'../../initclass1', type:'TestProject1.InitClassSetting, TestProject1'}">
				<lifetime type="Singleton" />
			</object>
			<object name="InitClass2" type="TestProject1.InitClass2, TestProject1"
				setting="{name:'../../initclass2', type:'TestProject1.InitClassSetting, TestProject1'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<initclass value="123456" />
		<initclass1 value="1:123456" />
		<initclass2 value="2:123456" />
	</htb.devfx>
</configuration>