<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects>
			<object name="ServiceRunnerHost" type="HTB.DevFx.Services.ServiceRunnerHost, HTB.DevFx.Extensions" setting="{name:'../../serviceRunners', type:'HTB.DevFx.Services.Config.ServiceRunnerHostSetting, HTB.DevFx.Extensions'}">
				<lifetime type="Singleton" />
			</object>

			<namespace>
				<objects name="ServiceRunners" configSet="{tag:'object', nullable:'false'}">
					<typeAliases>
						<add name="DateIntervalType" type="HTB.DevFx.Services.ScheduleRunner+DateIntervalType, HTB.DevFx.Extensions" />
						<add name="TimerRunnerHost" type="HTB.DevFx.Services.TimerHost, HTB.DevFx.Extensions" />
						<add name="ScheduleRunnerHost" type="HTB.DevFx.Services.ScheduleHost, HTB.DevFx.Extensions" />
					</typeAliases>
				</objects>
			</namespace>
		</objects>

		<serviceRunners>
			<!--<add name="" type="" enabled="true" handler="" />-->
		</serviceRunners>
	</htb.devfx>
</configuration>