<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="IRemotingObjectBuilder" type="HTB.DevFx.Remoting.IRemotingObjectBuilder, HTB.DevFx.BaseFx" />
			</typeAliases>

			<object name="RemotingObjectBuilder" type="IRemotingObjectBuilder" mapTo="HTB.DevFx.Remoting.RemotingObjectBuilderFactory, HTB.DevFx.BaseFx"
					setting="{name:'../../remoting', type:'HTB.DevFx.Remoting.Config.RemotingObjectBuilderFactorySetting, HTB.DevFx.BaseFx'}">
				<lifetime type="Singleton" />
			</object>

			<object name="ObjectBuilderForRemoting" type="IRemotingObjectBuilder" mapTo="HTB.DevFx.Remoting.RemotingObjectBuilder, HTB.DevFx.BaseFx">
				<lifetime type="Singleton" />
			</object>

			<object name="RemotingServiceInternal" type="HTB.DevFx.Remoting.RemotingServiceInternal, HTB.DevFx.BaseFx"
					setting="{name:'../../remoting/services', type:'HTB.DevFx.Remoting.Config.RemotingServiceSetting, HTB.DevFx.BaseFx'}">
				<lifetime type="Singleton" />
			</object>
		</objects>

		<remoting>
			<handlers>
				<add name=".rem" type="@ObjectBuilderForRemoting" />
			</handlers>

			<services />
		</remoting>
	</htb.devfx>
</configuration>