<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects>
			<typeAliases>
				<add name="IHttpModule" type="System.Web.IHttpModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</typeAliases>

			<namespace>
				<objects name="HttpModules" configSet="{tag:'object'}">
					<object name="HttpModuleWrapperInternal" type="HTB.DevFx.Web.HttpModuleWrapper+HttpModuleWrapperInternal, HTB.DevFx" setting="{name:'../../../../httpModules', type:'HTB.DevFx.Web.Config.HttpModuleContextSetting, HTB.DevFx'}" />
				</objects>
			</namespace>
		</objects>

		<httpModules />
	</htb.devfx>
</configuration>