<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<object name="WcfObjectBuilder" type="IRemotingObjectBuilder" mapTo="HTB.DevFx.Remoting.WcfObjectBuilder, HTB.DevFx">
				<lifetime type="Singleton" />
			</object>

			<update name="RemotingServiceInternal" mapTo="HTB.DevFx.Remoting.WcfServiceInternal, HTB.DevFx" />

			<namespace configSet="{tag:'objects'}">
				<objects name="Wcf" configSet="{tag:'object'}">
					<typeAliases>
						<add name="Binding" type="System.ServiceModel.Channels.Binding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					</typeAliases>

					<object name="http" type="Binding" mapTo="System.ServiceModel.BasicHttpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="https" type="Binding" mapTo="System.ServiceModel.BasicHttpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="net.pipe" type="Binding" mapTo="System.ServiceModel.NetNamedPipeBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="net.p2p" type="Binding" mapTo="System.ServiceModel.NetPeerTcpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="net.tcp" type="Binding" mapTo="System.ServiceModel.NetTcpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="http.wsdual" type="Binding" mapTo="System.ServiceModel.WSDualHttpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="http.ws" type="Binding" mapTo="System.ServiceModel.WSHttpBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="net.msmq" type="Binding" mapTo="System.ServiceModel.NetMsmqBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<object name="msmq.formatname" type="Binding" mapTo="System.ServiceModel.MsmqIntegration.MsmqIntegrationBinding, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				</objects>
			</namespace>
		</objects>

		<remoting>
			<handlers>
				<add name=".svc" type="@WcfObjectBuilder" />
			</handlers>
		</remoting>
	</htb.devfx>
</configuration>