<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<startup>
			<core>
				<configService type="HTB.DevFx.Config.ConfigService+DefaultConfigService, HTB.DevFx">
					<assemblies configSet="{key:'assembly'}">
						<add assembly="HTB.DevFx" />
					</assemblies>

					<configFiles configSet="{key:'file'}">
						<!--<add file="htb.devfx.config" />
						<add file="htb.devfx.*.config" />-->
					</configFiles>
				</configService>

				<objectService type="HTB.DevFx.ObjectService+DefaultObjectService, HTB.DevFx">
					<extenders>
						<add name="SettingRequiredExtender" type="HTB.DevFx.Core.ObjectServiceBase+SettingRequiredExtender, HTB.DevFx" />
					</extenders>
				</objectService>

				<serviceLocator type="HTB.DevFx.Esb.ServiceLocatorAdapter, HTB.DevFx">
					<extenders>
						<remove name="SettingRequiredExtender" />
					</extenders>
				</serviceLocator>
			</core>
		</startup>
	</htb.devfx>
</configuration>