<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="Transient" type="HTB.DevFx.Core.Lifetime.TransientLifetimeContainer, HTB.DevFx" />
				<add name="Singleton" type="HTB.DevFx.Core.Lifetime.SingletonLifetimeContainer, HTB.DevFx" />
				<add name="Service" type="HTB.DevFx.Core.Lifetime.ServiceLifetimeContainer, HTB.DevFx" />
				<add name="PerThread" type="HTB.DevFx.Core.Lifetime.PerThreadLifetimeContainer, HTB.DevFx" />
				<add name="RunOnce" type="HTB.DevFx.Core.Lifetime.RunOnceLifetimeContainer, HTB.DevFx" />
			
				<add name="IObjectService" type="HTB.DevFx.Core.IObjectService, HTB.DevFx" />
				<add name="IConfigService" type="HTB.DevFx.Config.IConfigService, HTB.DevFx" />

				<add name="ISettingHandler" type="HTB.DevFx.Core.ISettingHandler, HTB.DevFx" />
			</typeAliases>

			<constAliases />

			<object name="ObjectService" type="IObjectService" />
			<object name="ConfigService" type="IConfigService" />

			<namespace configSet="{tag:'objects', nullable:'false'}" />
		</objects>
	</htb.devfx>
</configuration>