<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<devfx>
		<esb>
			<serialize defaultSerializer="JsonNetSerializer" debug="false">
				<add name="JsonNetSerializer" contentType="application/json" type="JsonNetSerializer" enabled="true" />
				<add name="BsonNetSerializer" contentType="application/bson" type="BsonNetSerializer" enabled="true" />
			</serialize>
		</esb>
	</devfx>
</configuration>