<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<devfx>
		<container configSet="{tag:'object'}">
			<object name="Loggers.FileLogger" type="DevFx.Logging.Loggers.FileLogger, DevFx">
				<constructor configSet="{tag:'parameter'}">
					<parameter name="logPath" type="string" value="../logs/" />
					<parameter name="logFile" type="string" value="{now:yyyyMMdd}_{serverName}_{directoryName}.log" />
				</constructor>
			</object>

			<object name="Loggers.ErrorFileLogger" type="DevFx.Logging.Loggers.FileLogger, DevFx">
				<constructor configSet="{tag:'parameter'}">
					<parameter name="logPath" type="string" value="../logs/" />
					<parameter name="logFile" type="string" value="{now:yyyyMMdd}_{serverName}_{directoryName}.error.log" />
				</constructor>
			</object>

			<object name="Loggers.ConsoleLogger" type="DevFx.Logging.Loggers.ConsoleLogger, DevFx" />
		</container>

		<logging>
			<add name="FileLogger" type="Loggers.FileLogger" minLevel="MIN" maxLevel="MAX" priority="0" enabled="true" />
			<add name="ErrorFileLogger" type="Loggers.ErrorFileLogger" minLevel="ERROR" maxLevel="ERROR" priority="0" enabled="true" />
			<add name="ConsoleLogger" type="Loggers.ConsoleLogger" minLevel="MIN" maxLevel="MAX" priority="0" enabled="true" />
		</logging>
	</devfx>
</configuration>