<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
	</configSections>

	<htb.devfx>
		<objects>
			<namespace>
				<objects name="ServiceRunners">
					<object name="SampleServiceRunner" type="IServiceRunner" mapTo="HTB.DevFx.ServiceRunners.SampleServiceRunner, ServiceRunner">
						<lifetime type="Singleton" />
						<constructor configSet="{tag:'parameter'}">
							<parameter name="interval" type="double" value="1000" />
							<parameter name="startTime" type="DateTime" value="2010/06/02 18:12:05" />
							<parameter name="intervalType" type="DateIntervalType" value="minute" />
							<parameter name="intervalValue" type="int" value="5" />
							<parameter name="logService" type="ILogService" value="@LogService" />
						</constructor>
					</object>

					<object name="SampleServiceHandler" type="HTB.DevFx.ServiceRunners.SampleServiceHandler, ServiceRunner" />
	
					<object name="SampleServiceHandlerHost" type="IServiceRunner" mapTo="ScheduleRunnerHost">
						<lifetime type="Singleton" />
						<constructor configSet="{tag:'parameter'}">
							<parameter name="interval" type="double" value="1000" />
							<parameter name="startTime" type="DateTime" value="2010/06/02 18:12:05" />
							<parameter name="intervalType" type="DateIntervalType" value="minute" />
							<parameter name="intervalValue" type="int" value="1" />
							<parameter name="logService" type="ILogService" value="@LogService" />
							<parameter name="serviceHandler" type="IServiceHandler" value="@SampleServiceHandler" />
						</constructor>
					</object>
				</objects>
			</namespace>
		</objects>

		<serviceRunners title="服务运行器">
			<add name="SampleServiceRunner" title="示例服务1" type="@ServiceRunners.SampleServiceRunner" enabled="true" />
			<add name="SampleServiceHandler" title="示例服务2" type="@ServiceRunners.SampleServiceHandlerHost" enabled="true" />
		</serviceRunners>

		<log enabled="true" />
		<exception enabled="true" />
	</htb.devfx>

	<!--<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>-->
</configuration>