<?xml version="1.0" encoding="utf-8"?>
<package>
	<metadata>
		<id>DevFx.Lite</id>
		<version>1.0.$WCREV$.0</version>
		<title>DevFx Lite</title>
		<authors>R2</authors>
		<description>DevFx Lite, HTB Develop Framework For .NET</description>
		<projectUrl>http://devfx.codeplex.com/</projectUrl>
		<licenseUrl>http://www.gnu.org/licenses/lgpl-3.0.txt</licenseUrl>
		<requireLicenseAcceptance>true</requireLicenseAcceptance>
	</metadata>
</package>