<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects configSet="{tag:'object'}">
			<typeAliases>
				<add name="void" type="System.Void" />
				<add name="bool" type="System.Boolean" />
				<add name="byte" type="System.Byte" />
				<add name="sbyte" type="System.SByte" />
				<add name="char" type="System.Char" />
				<add name="decimal" type="System.Decimal" />
				<add name="double" type="System.Double" />
				<add name="float" type="System.Single" />
				<add name="int" type="System.Int32" />
				<add name="uint" type="System.UInt32" />
				<add name="long" type="System.Int64" />
				<add name="ulong" type="System.UInt64" />
				<add name="object" type="System.Object" />
				<add name="short" type="System.Int16" />
				<add name="ushort" type="System.UInt16" />
				<add name="string" type="System.String" />
				<add name="DateTime" type="System.DateTime" />
				<add name="DBNull" type="System.DBNull" />
				<add name="Guid" type="System.Guid" />
				<add name="TimeSpan" type="System.TimeSpan" />
				<add name="IObjectBuilder" type="HTB.DevFx.Esb.IObjectBuilder, HTB.DevFx.BaseFx" />
			</typeAliases>
		</objects>

		<startup>
			<core>
				<serviceLocator objectsPath="../../../objects/">
					<extenders>
						<add name="SettingRequiredExtender" type="HTB.DevFx.Esb.SettingRequiredExtender, HTB.DevFx.BaseFx" />
					</extenders>
				</serviceLocator>
			</core>
		</startup>
	</htb.devfx>
</configuration>