<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<htb.devfx>
		<objects>
			<typeAliases>
				<add name="IMailService" type="HTB.DevFx.Mail.IMailService, HTB.DevFx.BaseFx" />
			</typeAliases>

			<object name="MailService" type="IMailService" mapTo="HTB.DevFx.Mail.MailService, HTB.DevFx" setting="{name:'../../mail', type:'HTB.DevFx.Mail.Config.MailServiceSetting, HTB.DevFx'}">
				<lifetime type="Singleton" />
				<constructor configSet="{tag:'parameter'}">
					<parameter name="logService" type="ILogService" value="@LogService" />
				</constructor>
			</object>
		</objects>

		<mail smtpServer="" serverPort="25" userName="" password="" interval="1000" />
	</htb.devfx>
</configuration>