<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
	</configSections>

	<htb.devfx>
		<remoting>
			<services>
				<add name="classService.rem" type="ClassLibrary1.IClassService, ClassLibrary1" serviceType="ConsoleApplication1.ClassServiceInternal, ConsoleApplication1" />
			</services>
		</remoting>
	</htb.devfx>

	<system.runtime.remoting>
		<application>
			<channels>
				<channel
				   ref="http"
				   port="8086" />
			</channels>
		</application>
	</system.runtime.remoting>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
</configuration>
