<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
		<section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
	</configSections>

	<htb.devfx>
		<remoting>
			<services>
				<add name="classService.svc" type=":wcf" serviceType="WCFServer.ClassServiceInternal, WCFServer" />
				<!--type固定为":wcf"，serviceType为服务实现的类型-->
			</services>
		</remoting>
	</htb.devfx>

	<system.serviceModel><!--这里是标准的WCF配置-->
		<services>
			<service name="WCFServer.ClassServiceInternal">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/WcfSamples/" />
					</baseAddresses>
				</host>
				<endpoint address="classService.svc" binding="basicHttpBinding" contract="ClassLibrary2.IClassService" />
			</service>
		</services>
	</system.serviceModel>
</configuration>