<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="htb.devfx" type="HTB.DevFx.Config.ConfigSectionHandler, HTB.DevFx.BaseFx" />
  </configSections>

  <htb.devfx>
    <objects configSet="{tag:'object'}">
      <object name="ClassServiceClient" type="ClassLibrary2.IClassService, ClassLibrary2" mapTo="http://localhost:8080/WcfSamples/classService.svc" builder="@RemotingObjectBuilder" />
    </objects>
  </htb.devfx>
</configuration>